.toolbar-icon-admin-toolbar-tools-help {
<<<<<<< HEAD
  text-indent: -9999px;
}

.toolbar-icon-admin-toolbar-tools-help:before {
  background-image: url(../misc/icons/ffffff/d8-item.svg);
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 8px;
  padding-top: 2px;
}

.toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-icon-admin-toolbar-tools-help.active:before {
  background-image: url(../misc/icons/ffffff/d8-item.svg);
=======
    text-indent: -9999px;

}

.toolbar-icon-admin-toolbar-tools-help:before {
    background-image: url(../misc/icons/ffffff/d8-item.svg);
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 2px;
}
.toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-icon-admin-toolbar-tools-help.active:before {
    background-image: url(../misc/icons/ffffff/d8-item.svg);
>>>>>>> 638d6a829b84c64ae8d5580f52627532f1948966
}
