/**
<<<<<<< HEAD
 * Body
 */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  body.navbar-is-fixed-top {
    margin-top: 90px; }

/**
 * Header and nav.
 */
header#navbar {
  background-color: #fff;
  border: none;
  height: 90px;
  border-bottom: 1px solid #ccc;
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333); }
  header#navbar .navbar-header .logo img {
    height: 70px; }
header .navbar-collapse {
  background-color: #fff; }
  header .navbar-collapse #block-wrightmans-main-menu {
    padding-top: 20px; }
    header .navbar-collapse #block-wrightmans-main-menu ul.menu {
      text-transform: uppercase;
      font-weight: bold; }
      header .navbar-collapse #block-wrightmans-main-menu ul.menu li {
        background: url(../images/menu/i.png) no-repeat center right; }
        header .navbar-collapse #block-wrightmans-main-menu ul.menu li:last-child {
          background: none; }
        header .navbar-collapse #block-wrightmans-main-menu ul.menu li a {
          color: #520974;
          font-weight: bold;
          font-size: 14px; }
          header .navbar-collapse #block-wrightmans-main-menu ul.menu li a.is-active {
            color: #a47f2d;
            background: none; }
          header .navbar-collapse #block-wrightmans-main-menu ul.menu li a:hover {
            color: #a47f2d; }

/**
 * Intro header
 */
.intro-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url(../images/front/intro-bg.jpg) no-repeat top center;
  background-size: cover;
  min-height: 795px;
  position: relative; }
  .intro-header .region-header {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    width: 100%; }
    .intro-header .region-header #block-intromessage .title-message {
      font-size: 90px; }
    .intro-header .region-header #block-intromessage .body-message {
      width: 50%;
      margin: 0px auto;
      font-size: 20px;
      font-weight: lighter; }

/**
 * Our Brands
 */
.our-brands {
  background-color: #f1f1f1; }
  .our-brands #block-views-block-slide-carousel-block-1 {
    position: relative;
    bottom: 90px; }
    .our-brands #block-views-block-slide-carousel-block-1 .view-header fieldset.title-our-brands {
      border-top: 1px solid #d2d2d2;
      margin: 0 15px; }
      .our-brands #block-views-block-slide-carousel-block-1 .view-header fieldset.title-our-brands .text {
        font-weight: 100;
        color: #fff;
        width: 15%;
        text-align: center;
        border-bottom: none; }
        .our-brands #block-views-block-slide-carousel-block-1 .view-header fieldset.title-our-brands .text .bold {
          font-weight: bold; }
    .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands {
      min-width: 48%;
      text-align: center;
      margin-left: 15px;
      background: #fff; }
      .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .image-logo .image img {
        margin: 0 auto; }
      .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .link-btn {
        background-color: #fff;
        margin: 20px 20px 45px 20px; }
        .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .link-btn .btn-brown {
          background-color: #a47f2d;
          width: 200px;
          border-radius: 15px;
          font-size: 18px;
          font-weight: 200; }
          .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .link-btn .btn-brown a {
            color: #fff;
            text-decoration: none; }
    .our-brands #block-views-block-slide-carousel-block-1 .slick-track .slide ul.block-grid {
      padding: 0;
      text-align: center; }
      .our-brands #block-views-block-slide-carousel-block-1 .slick-track .slide ul.block-grid li.grid {
        display: block;
        float: left;
        margin-left: 30px; }
        .our-brands #block-views-block-slide-carousel-block-1 .slick-track .slide ul.block-grid li.grid .slide__media {
          background: #fff;
          padding: 25px;
          min-height: 350px;
          border: 1px solid #ccc; }
          .our-brands #block-views-block-slide-carousel-block-1 .slick-track .slide ul.block-grid li.grid .slide__media .btn-brown {
            background-color: #a47f2d;
            width: 200px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: 200; }
            .our-brands #block-views-block-slide-carousel-block-1 .slick-track .slide ul.block-grid li.grid .slide__media .btn-brown a {
              color: #fff;
              text-decoration: none; }
      .our-brands #block-views-block-slide-carousel-block-1 .slick-track .slide ul.block-grid li.grid--0 {
        margin-left: 20px; }
    .our-brands #block-views-block-slide-carousel-block-1 .slick__arrow button.slick-arrow {
      border-radius: 0; }
      .our-brands #block-views-block-slide-carousel-block-1 .slick__arrow button.slick-arrow.slick-prev {
        height: 75px;
        width: 55px;
        background: url(../images/slide/slick-prev.png) no-repeat; }
        .our-brands #block-views-block-slide-carousel-block-1 .slick__arrow button.slick-arrow.slick-prev:before {
          content: ''; }
      .our-brands #block-views-block-slide-carousel-block-1 .slick__arrow button.slick-arrow.slick-next {
        height: 75px;
        width: 55px;
        background: url(../images/slide/slick-next.png) no-repeat; }
        .our-brands #block-views-block-slide-carousel-block-1 .slick__arrow button.slick-arrow.slick-next:before {
          content: ''; }

/**
 * Leader Content
 */
.leader-content {
  background: url(../images/front/intro-bg-main.jpg) no-repeat top center;
  min-height: 810px; }
  .leader-content .text-main-content {
    color: #fff;
    padding: 60px 0 0 0; }
    .leader-content .text-main-content .title {
      font-size: 60px;
      font-weight: 200; }
      .leader-content .text-main-content .title .strong {
        font-weight: bold; }
    .leader-content .text-main-content .detail {
      padding: 40px 0;
      width: 45%;
      font-size: 20px;
      font-weight: 200; }
    .leader-content .text-main-content .button .btn-learn-more {
      color: #fff;
      border: 1px solid #fff;
      border-radius: 15px;
      min-width: 120px;
      font-size: 16px;
      font-weight: 200; }

/**
 * Services Content
 */
.services-content .services-item ul.services-item-list {
  padding: 0; }
  .services-content .services-item ul.services-item-list li {
    display: inline-block;
    text-align: center;
    list-style: none; }

/**
 * Main Content
 */
.main-container {
  padding-bottom: 20px; }

/**
 * Page Contact Us
 */
.page-layout-contact-us .slide-header {
  background: url(../images/bg/bg-contact.jpg) no-repeat center top;
  background-size: cover;
  min-height: 795px;
  position: relative; }
  .page-layout-contact-us .slide-header .region-slide-header {
    color: #fff;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    width: 100%; }
    .page-layout-contact-us .slide-header .region-slide-header #block-blockmessagescontact h2.title {
      font-size: 90px; }
    .page-layout-contact-us .slide-header .region-slide-header #block-blockmessagescontact .body-messages {
      width: 50%;
      margin: 0px auto;
      font-size: 20px;
      font-weight: lighter; }
  .page-layout-contact-us .slide-header .before-title-content {
    width: 100%;
    position: absolute;
    bottom: 0; }
    .page-layout-contact-us .slide-header .before-title-content .container {
      height: 35px;
      background: #fff; }
.page-layout-contact-us .region-content h1.page-header {
  color: #520975;
  border-color: #a47f2d; }
.page-layout-contact-us .region-content article {
  padding-top: 30px; }
  .page-layout-contact-us .region-content article h3.title-company {
    margin-top: 0; }
.page-layout-contact-us .region-content .ul-contact {
  padding: 0; }
  .page-layout-contact-us .region-content .ul-contact li {
    list-style: none;
    padding-left: 40px;
    height: 40px;
    line-height: 40px; }
    .page-layout-contact-us .region-content .ul-contact li.li-t {
      background: url(../images/contact/li-t.png) no-repeat center left; }
    .page-layout-contact-us .region-content .ul-contact li.li-f {
      background: url(../images/contact/li-f.png) no-repeat center left; }
    .page-layout-contact-us .region-content .ul-contact li.li-e {
      background: url(../images/contact/li-e.png) no-repeat center left; }

/**
 * Page Content type Hotel
 */
.page-node-type-hotel .slide-header {
  position: relative; }
  .page-node-type-hotel .slide-header .before-title-content {
    width: 100%;
    position: absolute;
    bottom: 0; }
    .page-node-type-hotel .slide-header .before-title-content .container {
      height: 35px;
      background: #fff; }
  .page-node-type-hotel .slide-header #slick-3 .slick-dots, .page-node-type-hotel .slide-header #slick-views-slide-on-node-block-1-1 .slick-dots {
    position: absolute;
    bottom: 35px;
    left: 67%;
    transform: translateX(46%);
    width: 20%;
    text-align: right; }
    .page-node-type-hotel .slide-header #slick-3 .slick-dots li, .page-node-type-hotel .slide-header #slick-views-slide-on-node-block-1-1 .slick-dots li {
      margin: 0; }
      .page-node-type-hotel .slide-header #slick-3 .slick-dots li.slick-active button:before, .page-node-type-hotel .slide-header #slick-views-slide-on-node-block-1-1 .slick-dots li.slick-active button:before {
        opacity: 1; }
      .page-node-type-hotel .slide-header #slick-3 .slick-dots li button:before, .page-node-type-hotel .slide-header #slick-views-slide-on-node-block-1-1 .slick-dots li button:before {
        font-size: 14px;
        opacity: .5;
        color: #fff; }
  .page-node-type-hotel .slide-header #block-block-header-duchess-hotel, .page-node-type-hotel .slide-header #block-block-header-zone-hotel {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    width: 100%;
    color: #fff; }
    .page-node-type-hotel .slide-header #block-block-header-duchess-hotel h2.title, .page-node-type-hotel .slide-header #block-block-header-zone-hotel h2.title {
      font-size: 90px; }
    .page-node-type-hotel .slide-header #block-block-header-duchess-hotel .body-messages, .page-node-type-hotel .slide-header #block-block-header-zone-hotel .body-messages {
      width: 50%;
      margin: 0px auto;
      font-size: 20px;
      font-weight: lighter; }
.page-node-type-hotel .main-container .region-content article.hotel .content .field--name-body {
  font-size: 22px; }
.page-node-type-hotel .main-container .region-content h1 {
  color: #520975;
  border: none; }
.page-node-type-hotel .main-container .region-content .btn-brown {
  background-color: #a47f2d;
  width: 200px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 200; }
  .page-node-type-hotel .main-container .region-content .btn-brown a {
    color: #fff;
    text-decoration: none; }
.page-node-type-hotel .main-container .region-content ul.list-itmes {
  list-style: none;
  padding: 0;
  margin: 0; }
  .page-node-type-hotel .main-container .region-content ul.list-itmes li {
    padding-left: 1.5em;
    text-indent: -.7em; }
    .page-node-type-hotel .main-container .region-content ul.list-itmes li:before {
      content: "\002022";
      font-size: 20px;
      padding-right: 10px;
      color: #a47f2d; }
.page-node-type-hotel .slide-footer .slick__arrow button.slick-arrow {
  border-radius: 0; }
  .page-node-type-hotel .slide-footer .slick__arrow button.slick-arrow.slick-prev {
    height: 75px;
    width: 55px;
    background: url(../images/slide/slick-prev.png) no-repeat; }
    .page-node-type-hotel .slide-footer .slick__arrow button.slick-arrow.slick-prev:before {
      content: ''; }
  .page-node-type-hotel .slide-footer .slick__arrow button.slick-arrow.slick-next {
    height: 75px;
    width: 55px;
    background: url(../images/slide/slick-next.png) no-repeat; }
    .page-node-type-hotel .slide-footer .slick__arrow button.slick-arrow.slick-next:before {
      content: ''; }

/**
 * Footer
 */
footer.footer {
  background-color: #a47f2d;
  padding: 20px 0;
  margin: 0;
  border: none;
  color: #fff; }
  footer.footer a {
    color: #fff; }
  footer.footer #block-copyright {
    float: left;
    font-weight: 300; }
  footer.footer #block-wrightmans-footer {
    float: right; }
    footer.footer #block-wrightmans-footer ul.menu li {
      background: url(../images/menu/i-w.png) no-repeat center right;
      float: left; }
      footer.footer #block-wrightmans-footer ul.menu li a {
        padding: 0 15px;
        font-weight: 300; }
        footer.footer #block-wrightmans-footer ul.menu li a:hover {
          background: none; }
      footer.footer #block-wrightmans-footer ul.menu li:last-child {
        background: none; }

/**
 * Style For Mobile
 */
@media only screen and (max-width: 768px) {
  /**
   * Header and nav.
   */
  header#navbar {
    background-color: #fff;
    border: none;
    height: 90px;
    border-bottom: 1px solid #ccc;
    box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.3333); }
  header .navbar-header .navbar-toggle {
    margin-top: 30px; }
  header .navbar-header .logo {
    padding-left: 15px; }
  header .navbar-collapse {
    background-color: #fff; }
    header .navbar-collapse #block-wrightmans-main-menu {
      padding-top: 20px; }
      header .navbar-collapse #block-wrightmans-main-menu ul.menu {
        text-transform: uppercase;
        font-weight: bold; }
        header .navbar-collapse #block-wrightmans-main-menu ul.menu li {
          background: none;
          text-align: center; }
          header .navbar-collapse #block-wrightmans-main-menu ul.menu li:last-child {
            background: none; }
          header .navbar-collapse #block-wrightmans-main-menu ul.menu li a {
            color: #520974; }

  	/**
   	* Intro header
   	*/
  .intro-header {
    min-height: 355px; }
    .intro-header .region-header {
      position: absolute;
      top: 30%;
      transform: translateY(-30%);
      width: 100%; }
      .intro-header .region-header #block-intromessage .title-message {
        font-size: 35px; }
      .intro-header .region-header #block-intromessage .body-message {
        width: 90%;
        margin: 0px auto;
        font-size: 12px; }

  /**
   * Our Brands
   */
  .our-brands {
    background-color: #f1f1f1; }
    .our-brands #block-views-block-slide-carousel-block-1 {
      position: relative;
      bottom: 90px; }
      .our-brands #block-views-block-slide-carousel-block-1 .view-header fieldset.title-our-brands {
        border-top: 1px solid #d2d2d2;
        margin: 0 15px; }
        .our-brands #block-views-block-slide-carousel-block-1 .view-header fieldset.title-our-brands .text {
          font-weight: 100;
          color: #fff;
          width: 50%;
          text-align: center;
          border-bottom: none; }
          .our-brands #block-views-block-slide-carousel-block-1 .view-header fieldset.title-our-brands .text .bold {
            font-weight: bold; }
      .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands {
        min-width: 100%;
        text-align: center;
        margin: 0 0 20px 0;
        background: #fff; }
        .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .image-logo .image img {
          margin: 0 auto; }
        .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .link-btn {
          background-color: #fff;
          margin: 20px; }
          .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .link-btn .btn-brown {
            background-color: #a47f2d;
            width: 200px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: 200; }
            .our-brands #block-views-block-slide-carousel-block-1 .item-list-brands .item-brands .link-btn .btn-brown a {
              color: #fff;
              text-decoration: none; }

  	/**
   * Page Content type Hotel
   */
  .page-node-type-hotel .slide-header #slick-3-slider .slick-dots {
    left: 55%;
    transform: translateX(46%);
    width: 30%; }
  .page-node-type-hotel .slide-header #block-block-header-duchess-hotel, .page-node-type-hotel .slide-header #block-block-header-zone-hotel {
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
    width: 100%;
    color: #fff; }
    .page-node-type-hotel .slide-header #block-block-header-duchess-hotel h2.title, .page-node-type-hotel .slide-header #block-block-header-zone-hotel h2.title {
      font-size: 35px; }
    .page-node-type-hotel .slide-header #block-block-header-duchess-hotel .body-messages, .page-node-type-hotel .slide-header #block-block-header-zone-hotel .body-messages {
      width: 90%;
      margin: 0px auto;
      font-size: 12px; }
  .page-node-type-hotel .main-container .region-content article.hotel .content .field--name-body {
    font-weight: 300;
    font-size: 18px; }

  	/**
   	* Page Contact Us
   	*/
  .page-layout-contact-us .slide-header {
    min-height: 355px; }
    .page-layout-contact-us .slide-header .region-slide-header #block-blockmessagescontact h2.title {
      font-size: 35px; }
    .page-layout-contact-us .slide-header .region-slide-header #block-blockmessagescontact .body-messages {
      width: 90%;
      margin: 0px auto;
      font-size: 12px; }

  	/**
   * Footer
   */
  footer.footer #block-copyright {
    float: none;
    text-align: center; }
  footer.footer #block-wrightmans-footer {
    float: right; }
    footer.footer #block-wrightmans-footer ul.menu li {
      text-align: center; }
      footer.footer #block-wrightmans-footer ul.menu li a {
        padding: 0 10px; } }
=======
 * Place your custom styles here.
 */
>>>>>>> 638d6a829b84c64ae8d5580f52627532f1948966
